azure_cluster_location     = "westus"
azure_cluster_machine_type = "Standard_F4s_v2"
provider_nodes             = 1
resource_nodes             = 1
enable_tyk                 = true
enable_kong                = false
enable_gravitee            = false
