azure_cluster_location     = "westus"
azure_cluster_machine_type = "Standard_F4s_v2"
service_nodes              = 1
resource_nodes             = 1

tyk = {
  enabled = true
  version = "v5"
}

kong = {
  enabled = false
  version = "v5"
}

gravitee = {
  enabled = false
  version = "v5"
}

oTel = {
  enabled        = false
  sampling_ratio = "0.5"
}

tests = {
  timestamp = true
  httpbin   = true
}
