services_nodes_count     = 1
resource_nodes_count     = 1
dependencies_nodes_count = 1

cluster_location     = "westus"
cluster_machine_type = "Standard_F4s_v2"
aks_version          = "1.27"

tyk_enabled      = true
kong_enabled     = false
gravitee_enabled = false
