kubernetes = {
  config = {
    path    = "../.kube/config"
    context = "gke"
  }
}

analytics_enabled             = false
auth_enabled                  = false
quota_enabled                 = false
rate_limit_enabled            = false
open_telemetry_enabled        = false
open_telemetry_sampling_ratio = "0.5"

tyk_enabled      = true
kong_enabled     = false
gravitee_enabled = false

tests_parallelism       = 4
tests_timestamp_enabled = true
tests_httpbin_enabled   = false