kubernetes_config_context = "performance-testing"

tyk_enabled      = true
kong_enabled     = false
gravitee_enabled = false
traefik_enabled  = false
upstream_enabled = false

tests_fortio_options = "size=20"
tests_executor       = "constant-arrival-rate"
tests_auth_key_count = 100
tests_ramping_steps  = 10
tests_duration       = 15
tests_rate           = 20000
tests_virtual_users  = 50
tests_parallelism    = 1
