cluster_location          = "us-west-1"
eks_version               = ""
cluster_machine_type      = "c5.xlarge"
service_machine_type      = ""
upstream_machine_type     = ""
tests_machine_type        = ""
resources_machine_type    = ""
dependencies_machine_type = ""

services_nodes_count     = 1
upstream_nodes_count     = 1
tests_nodes_count        = 1
resource_nodes_count     = 1
dependencies_nodes_count = 1

tyk_enabled      = true
kong_enabled     = false
gravitee_enabled = false