tyk = {
  enabled   = true
  version   = "v5"
  analytics = false
}

kong = {
  enabled   = false
  version   = "v5"
  analytics = false
}

gravitee = {
  enabled   = false
  version   = "v5"
  analytics = false
}

oTel = {
  enabled        = false
  sampling_ratio = "0.5"
}

tests = {
  timestamp = true
  httpbin   = true
}

node-labels = {
  upstream           = "upstream"
  dependencies       = "resources"
  tyk                = "tyk"
  tyk-resources      = "resources"
  kong               = "kong"
  kong-resources     = "resources"
  gravitee           = "gravitee"
  gravitee-resources = "resources"
}

kubernetes = {
  host                   = null
  username               = null
  password               = null
  token                  = null
  client_key             = null
  client_certificate     = null
  cluster_ca_certificate = null
  config_path            = "~/.kube/config"
  config_context         = "minikube"
}
