tyk = {
  enabled   = true
  version   = "v5"
  analytics = false
}

kong = {
  enabled   = false
  version   = "v5.2.1"
  analytics = false
}

gravitee = {
  enabled   = false
  version   = "4.1"
  analytics = false
}

oTel = {
  enabled        = false
  sampling_ratio = "0.5"
}

tests = {
  parallelism = 4
  timestamp   = true
  httpbin     = true
}

node-labels = {
  dependencies       = "dependencies"
  tyk                = "tyk"
  tyk-upstream       = "tyk-upstream"
  tyk-tests          = "tyk-tests"
  tyk-resources      = "tyk-resources"
  kong               = "kong"
  kong-upstream      = "kong-upstream"
  kong-tests         = "kong-tests"
  kong-resources     = "kong-resources"
  gravitee           = "gravitee"
  gravitee-upstream  = "gravitee-upstream"
  gravitee-tests     = "gravitee-tests"
  gravitee-resources = "gravitee-resources"
}

kubernetes = {
  host                   = null
  username               = null
  password               = null
  token                  = null
  client_key             = null
  client_certificate     = null
  cluster_ca_certificate = null
  config_path            = "~/.kube/config"
  config_context         = "minikube"
}
