project              = "performance-testing"
cluster_location     = "us-west1-a"
cluster_machine_type = "c2-standard-4"
service_nodes        = 1
resource_nodes       = 1

tyk = {
  enabled   = true
  version   = "v5.2.1"
  analytics = false
}

kong = {
  enabled   = false
  version   = "v5"
  analytics = false
}

gravitee = {
  enabled   = false
  version   = "4.1"
  analytics = false
}

oTel = {
  enabled        = false
  sampling_ratio = "0.5"
}

tests = {
  parallelism = 4
  timestamp   = true
  httpbin     = true
}